#projects{
    padding: 50px 0;
    text-align: center;
}

.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.project{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.project img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    color: #fff;
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #2f1d6a);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: rgb(31, 77, 80);
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.project:hover img{
    transform: scale(1.1);
}

.project:hover .layer{
    height: 100%;
}

